QWidget#FusionHistroySchemeDlg, QTabWidget#schemeTabWidget {
    background-color:white;
}

QTabWidget#schemeTabWidget QTabBar::tab {
        font: 10pt "微软雅黑";
        color: black;
        min-width: 150px;
        min-height: 30px;
        background-color: white;
}

QTabWidget#schemeTabWidget QTabBar::tab:selected {
            color: #37B9DA;
            border: outset;
            border-color: #37B9DA;
            border-bottom-width: 2px;
}





QTableWidget#submitSchemeTableWidget QHeaderView::section, QTableWidget#temporySchemeTableWidget QHeaderView::section {
    background-color: #37B9DA;
    color: #ffffff;
    border: none;
}


QTabWidget#schemeTabWidget QTableWidget#submitSchemeTableWidget::item, QTabWidget#schemeTabWidget QTableWidget#temporySchemeTableWidget::item {
    font: 9pt "微软雅黑";
    color: black;
    border: 0px;
}

QTableWidget#temporySchemeTableWidget::item:selected, QTabWidget#submitSchemeTableWidget::item:selected {
    color: black;
    background-color: lightblue;
}

QTableWidget#temporySchemeTableWidget, QTableWidget#submitSchemeTableWidget {
    background-color: white;
    /* alternate-background-color: #DFE6F8; */
    alternate-background-color:red;
}
QPushButton#openBtn, #cancelBtn {
    background-color: rgb(56,185,217);
    font: 9pt "微软雅黑";
    color: white;
    border: solid;
    border-radius: 6px;
    min-height: 30px;
    min-width: 160px;
}

QPushButton#openBtn:hover, #openBtn:pressed, #cancelBtn:hover, #cancelBtn:pressed {
        background-color: #2198B7;
        font: 9pt "微软雅黑";
        color: white;
}
