/*************************main window************************************/

QMainWindow#MainWindow {
    /* background-color:rgb(3, 7, 6); */
    background-color: #132332;
    /*整体外边框*/
    margin: 0, 0, 0, 0;
}

QMainWindow#MainWindow QFrame#mainindow_separator {
    background-color: #536373;
}

QMainWindow#MainWindow QProgressBar#fusionDesignProcessBar {
    /* background-color: #132332; */
    border: 1px;
    background: #132332;
    min-height: 3px;
    max-height: 3px;
    color: white;
}

QMainWindow#MainWindow QProgressBar#fusionDesignProcessBar::chunk {
    /*下方进度条*/
    /* background-color: rgb(55, 185, 218); */
    background-color: #37B9DA;
    color: white;
}

QMainWindow#MainWindow QStatusBar#fusionStatusBar {
    color: white;
}


QToolBar#FusionAlignToolBar::separator {
    background-color: #546371;
    Height: 1px;
    width: 1px;
}

QMainWindow#MainWindow QMenu {
    Background: #132332;
    min-width: 95px;
}

QMainWindow#MainWindow QMenu::separator {
    Background: #546372;
    Height: 2px;
}

QMainWindow#MainWindow QMenu::item {
    color: #b6c4d1;
    font: 9pt "微软雅黑";
    background-color: #111a24;
    border: 1px solid #242424;
    padding: 1px 20px 3px 10px;
    min-width: 62px;
}

QMainWindow#MainWindow QMenu::item:selected,
QWidget#fusionTitleBar QMenu::item:hover {
    background-color: #3f4b56;
}


/**************************title Bar***************************************/

QWidget#fusionTitleBar {
    background-color: #132332;
    /*最上方标题栏*/
    min-height: 35px;
    max-height: 35px;
    margin: 0;
}

QWidget#fusionTitleBar QLabel {
    color: black;
}

QWidget#fusionTitleBar QMenu {
    border-color: #546372;
}

QWidget#fusionTitleBar QMenu::separator {
    Background: #546372;
    Height: 2px;
}

QWidget#fusionTitleBar QMenu::item {
    color: #b6c4d1;
    font: 9pt "微软雅黑";
    background-color: #111a24;
    border: 1px solid #242424;
    padding: 1px 20px 3px 10px;
}

QWidget#fusionTitleBar QMenu::item:selected,
QWidget#fusionTitleBar QMenu::item:hover {
    background-color: #3f4b56;
}

QMenu#language_menu::indicator:exclusive:checked {
    image: url(:/dark/res/dark/images/menu/menu_check.png);
}

QMenu#language_menu::indicator:exclusive:unchecked {
    image: url(:/dark/res/dark/images/menu/menu_uncheck.png);
}

QMenu#bolton_menu::indicator:exclusive:checked {
    image: url(:/dark/res/dark/images/menu/menu_check.png);
}

QMenu#bolton_menu::indicator:exclusive:unchecked {
    image: url(:/dark/res/dark/images/menu/menu_uncheck.png);
}

QWidget#fusionTitleBar QLabel#patientNameLabel,
QWidget#fusionTitleBar QLabel#schemeNameLabel {
    font: 10pt "微软雅黑";
}

QWidget#fusionTitleBar QPushButton {
    color: #132332;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
    qproperty-iconSize: 20px 20px;
}

QWidget#fusionTitleBar QPushButton#minimizeButton:hover,
QPushButton#maximizeButton:hover,
QPushButton#closeButton:hover,
QPushButton#mainMenuBtn:hover {
    background-color: #536374;
}

QWidget#fusionTitleBar QPushButton#minimizeButton:pressed,
QPushButton#maximizeButton:pressed,
QPushButton#closeButton:pressed,
QPushButton#mainMenuBtn:pressed {
    background-color: #435363;
}

QWidget#fusionTitleBar QPushButton#minimizeButton {
    qproperty-icon: url(:/dark/res/dark/images/titleBar/min.svg);
}

QWidget#fusionTitleBar QPushButton#maximizeButton {
    qproperty-icon: url(:/dark/res/dark/images/titleBar/normal.svg);
}

QWidget#fusionTitleBar QPushButton#closeButton {
    qproperty-icon: url(:/dark/res/dark/images/titleBar/close.svg);
}

QWidget#fusionTitleBar QPushButton#mainMenuBtn {
    qproperty-icon: url(:/dark/res/dark/images/titleBar/menu_normal.svg) off;
    qproperty-iconSize: 20px 20px;
    border: none;
}

QWidget#fusionTitleBar QPushButton#mainMenuBtn::menu-indicator {
    image: none;
    color: black;
}


/**************************title Bar***************************************/




/**************************categoryToolbar***************************************/



/***************************************************fusionPregressBar end**********************************************/

QProgressBar#fusionProgressBar {
    border-radius: 15px;
    color: #535659;
    text-align: center;
    background: #d0eef2;
    font: 15pt "微软雅黑";
}

QProgressBar#fusionProgressBar::chunk:horizontal {
    border-radius: 15px;
    background: #37B9DA;
}


/***************************************************fusionPregressBar end**********************************************/



/*align toolbar qss*/



QToolBar#alignProjBar,
#alignDecoratgeBar,
#redoUndoToolBar,
#analysisProjBar,
#alignEditDecoratgeBar {
    background-color: #132332;
    /*排牙栏等背景色*/
    margin: 0 0 0 0;
    max-height: 70px;
    min-height: 70px;
    /*可调整大小min-width: 80px;*/
}

QToolBar#analysisProjBar QToolButton {
    background-color: #132332;
    /*网格，测量，牙位编号等按钮背景色*/
    min-width: 65px;
    /* max-height: 54px; min-height:54px; */
    max-width: 65px;
    font: 7pt "微软雅黑";
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: white;
}

QToolBar#analysisProjBar QToolButton:disabled {
    background-color: #132332;
    /*牙宽测量，拥挤度等按钮背景色*/
    min-width: 65px;
    /* max-height: 54px; min-height:54px; */
    max-width: 65px;
    font: 7pt "微软雅黑";
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: #546371;
}

QToolBar#analysisProjBar QToolButton:hover {
    background-color: #536373;
}

QToolBar#analysisProjBar QToolButton:checked {
    background-color: #132332;
    /*网格，测量，牙位编号等按钮背景色*/
    min-width: 65px;
    /* max-height: 54px; min-height:54px; */
    max-width: 65px;
    font: 7pt "微软雅黑";
    border-bottom-style: solid;
    border-bottom-color: rgb(72, 216, 253);
    border-bottom-width: 2px;
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: #37B9DA;
}

QToolBar#alignProjBar QToolButton {
    /*新建、保存、另存为按钮样式*/
    background-color: #132332;
    min-width: 8px;
    /* max-height: 54px; min-height:54px; */
    max-width: 41px;
    font: 8pt "微软雅黑";
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: white;
}

QToolBar#alignProjBar QToolButton:disabled {
    /*新建、保存、另存为按钮样式*/
    background-color: #132332;
    min-width: 8px;
    /* max-height: 54px; min-height:54px; */
    max-width: 41px;
    font: 8pt "微软雅黑";
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: #546371;
}

QToolBar#alignProjBar QToolButton:hover {
    /*新建、保存、另存为按钮样式*/
    background-color: #536373;
    min-width: 8px;
    /* max-height: 54px; min-height:54px; */
    max-width: 41px;
    font: 8pt "微软雅黑";
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 2px;
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: white;
}

QToolBar #alignDecoratgeBar QToolButton {
    background-color: #132332;
    /*网格，测量，牙位编号等按钮背景色*/
    min-width: 65px;
    /* max-height: 54px; min-height:54px; */
    max-width: 65px;
    font: 7pt "微软雅黑";
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: white;
}

QToolBar #alignDecoratgeBar QToolButton:disabled {
    background-color: #132332;
    /*网格，测量，牙位编号等按钮背景色*/
    min-width: 65px;
    /* max-height: 54px; min-height:54px; */
    max-width: 65px;
    font: 7pt "微软雅黑";
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: #546371;
}

QToolBar#alignDecoratgeBar QToolButton:hover {
    /*background-color: rgb(223, 251, 255);*/
    background-color: #536373;
    border-bottom-width: 2px;
    border-bottom-color: rgb(72, 216, 253);
}

QToolBar#alignDecoratgeBar QToolButton:checked {
    background-color: #132332;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(72, 216, 253);
    color: #37B9DA;
}
QToolBar#alignEditDecoratgeBar 
{
    background-color: #132332;
    margin: 0 0 0 0;
    max-height: 70px;
    min-height: 70px;
}
QToolBar#alignEditDecoratgeBar QToolButton {
    background-color: #132332;
    /*网格，测量，牙位编号等按钮背景色*/
    min-width: 65px;
    /* max-height: 54px; min-height:54px; */
    max-width: 65px;
    font: 7pt "微软雅黑";
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: white;
}

QToolBar#alignEditDecoratgeBar QToolButton:disabled {
    background-color: #132332;
    /*网格，测量，牙位编号等按钮背景色*/
    min-width: 65px;
    /* max-height: 54px; min-height:54px; */
    max-width: 65px;
    font: 7pt "微软雅黑";
    border-image-repeat: stretch;
    border-radius: 1px;
    padding: 0px 0px;
    margin: 2 2 2 2;
    color: #546371;
}

QToolBar#alignEditDecoratgeBar QToolButton:hover {
    /*background-color: rgb(223, 251, 255);*/
    background-color: #536373;
    border-bottom-width: 2px;
    border-bottom-color: rgb(72, 216, 253);
}

QToolBar#alignEditDecoratgeBar QToolButton:checked {
    background-color: #132332;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(72, 216, 253);
    color: #37B9DA;
}

QToolTip {
    color: white;
    background-color: black;
}


/********************************************************************************************/


/*decorate edit gui*/


/* 标记插件界面*/

QWidget#FeatureMarkGui {
    background-color: #1A2835;
    border-radius: 10px;
}

QWidget#FeatureMarkGui QLabel {
    font: 10pt "微软雅黑";
    color: white;
}

QWidget#FeatureMarkGui QPushButton#doneBtn {
    border-radius: 6px;
    font: 10pt "微软雅黑";
    background-color: #37B9DA;
    /*分割的完成按钮*/
    color: white;
}

QWidget#FeatureMarkGui QPushButton#doneBtn:pressed,
QWidget#FeatureMarkGui QPushButton#doneBtn:hover {
    background-color: #67CDCD;
    color: white;
    border-color: #37B9DA;
}

QWidget#FeatureMarkGui QPushButton:hover {
    background-color: #18BBC5;
}

QWidget#FeatureMarkGui QPushButton:pressed {
    background-color: #18BBC5;
}

QWidget#FeatureMarkGui QPushButton:checked {
    background-color: #18BBC5;
}


/*segment gui*/


/*overlay gui*/

QWidget#OverlapOverbiteGui {
    background-color: #1A2835;
    /*覆合覆盖*/
    border-radius: 10px;
}

QWidget#OverlapOverbiteAnaGui {
    background-color: #0A141E;
    /*覆合覆盖*/
    border: 5px solid #0A141E;
    border-radius: 10px;
}

QWidget#OverlapOverbiteAnaGui QPushButton#oneBtn {
    border-image: url(:/dark/res/dark/images/11_normal.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#oneBtn:hover {
    border-image: url(:/dark/res/dark/images/11_selected.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#oneBtn:checked {
    border-image: url(:/dark/res/dark/images/11_selected.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#oneBtn:checked {
    border-image: url(:/dark/res/dark/images/11_selected.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#twoBtn {
    border-image: url(:/dark/res/dark/images/21_normal.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#twoBtn:hover {
    border-image: url(:/dark/res/dark/images/21_selected.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#twoBtn:pressed {
    border-image: url(:/dark/res/dark/images/21_selected.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#twoBtn:checked {
    border-image: url(:/dark/res/dark/images/21_selected.svg);
}

QWidget#OverlapOverbiteAnaGui QPushButton#closeBtn {
    border-image: url(:/dark/res/dark/images/menu/close.png);
    background-color: #0A141E;
}

QWidget#OverlapOverbiteAnaGui QSlider#pathSlider {
    border-color: white;
}

QWidget#OverlapOverbiteAnaGui QSlider#pathSlider::sub-page:horizontal {
    background: white;
}

QWidget#OverlapOverbiteAnaGui QSlider#pathSlider::add-page:horizontal {
    background: white;
}

QFrame#overlayFrame QPushButton#doneBtn {
    border-radius: 6px;
    font: 10pt "微软雅黑";
    background-color: #37B9DA;
    color: white;
    min-height: 30px;
}

QFrame#overlayFrame QPushButton#doneBtn:pressed,
QFrame#overlayFrame QPushButton#doneBtn:hover {
    background-color: #2198B7;
}

QFrame#overlayFrame QLabel#mainTitleName {
    font: 10pt "微软雅黑";
    max-height: 30px;
    color: white;
}

QFrame#overlayFrame #line,
QFrame#overlayFrame #line_2,
QFrame#overlayFrame #line_3 {
    height: 1px;
    background-color: #1A2835;
}

QFrame#overlayFrame .QSlider::groove:horizontal {
    border: 0px solid #bbb;
}

QFrame#overlayFrame .QSlider::sub-page:horizontal {
    background-color: black;
    border-radius: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}

QFrame#overlayFrame .QSlider::add-page:horizontal {
    background-color: black;
    border: 0px solid #777;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
}

QFrame#overlayFrame .QSlider::handle:horizontal {
    background: rgb(55, 185, 218);
    border: 0px;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 3px;
}


/*view Gui*/

QWidget #fusionViewGui .QPusButton {
    iconSize: 32px 32px;
    border-style: flat;
    background: transparent;
}

QWidget#fusionViewGui QPushButton#upDentalBtn {
    border-image: url(:/dark/res/dark/images/view/upDental.png);
}

QWidget#fusionViewGui QPushButton#upDentalBtn:hover {
    border-image: url(:/dark/res/dark/images/view/upDental_pressed.png);
}

QWidget#fusionViewGui QPushButton#upDentalBtn:checked {
    border-image: url(:/dark/res/dark/images/view/upDental_pressed.png);
}


/* upViewbtn*/

QWidget#fusionViewGui QPushButton#upViewBtn {
    border-image: url(:/dark/res/dark/images/view/upView.png);
}

QWidget#fusionViewGui QPushButton#upViewBtn:hover,
QPushButton#upViewBtn:pressed {
    border-image: url(:/dark/res/dark/images/view/upView_pressed.png)
}


/*right view Btn */

QWidget#fusionViewGui QPushButton#rightViewBtn {
    border-image: url(:/dark/res/dark/images/view/rightView.png);
}

QWidget#fusionViewGui QPushButton#rightViewBtn:hover,
QWidget#fusionViewGui QPushButton#rightViewBtn:pressed {
    border-image: url(:/dark/res/dark/images/view/rightView_pressed.png)
}


/* front view Btn */

QWidget#fusionViewGui QPushButton#frontViewBtn {
    border-image: url(:/dark/res/dark/images/view/frontView.png);
}

QWidget#fusionViewGui QPushButton#frontViewBtn:hover,
QWidget#fusionViewGui QPushButton#frontViewBtn:pressed {
    border-image: url(:/dark/res/dark/images/view/frontView_pressed.png)
}


/*left view Btn*/

QWidget#fusionViewGui QPushButton#leftViewBtn {
    border-image: url(:/dark/res/dark/images/view/leftView.png);
}

QWidget#fusionViewGui QPushButton#leftViewBtn:hover,
QWidget#fusionViewGui QPushButton#leftViewBtn:pressed {
    border-image: url(:/dark/res/dark/images/view/leftView_pressed.png)
}


/*bottom view Btn*/

QPushButton#bottomViewBtn {
    border-image: url(:/dark/res/dark/images/view/downView.png);
}

QPushButton#bottomViewBtn:hover,
QPushButton#bottomViewBtn:pressed {
    border-image: url(:/dark/res/dark/images/view/downView_pressed.png)
}


/*down dental btn*/


/*QHBoxLayout#horizontalLayout {
	background-color: black;
	color: black;
}*/

QPushButton#downDentalBtn {
    border-image: url(:/dark/res/dark/images/view/downDental.png);
}

QPushButton#downDentalBtn:hover,
QPushButton#downDentalBtn:checked {
    border-image: url(:/dark/res/dark/images/view/downDental_pressed.png);
}

QPushButton#selectDownDentalBtn {
    border-image: url(:/dark/res/dark/images/view/selectDown.png);
}

QPushButton#selectDownDentalBtn:hover,
QPushButton#selectDownDentalBtn:checked {
    border-image: url(:/dark/res/dark/images/view/selectDown_pressed.png)
}

QPushButton#selectUpDentalBtn {
    border-image: url(:/dark/res/dark/images/view/selectUp.png);
}

QPushButton#selectUpDentalBtn:hover,
QPushButton#selectUpDentalBtn:checked {
    border-image: url(:/dark/res/dark/images/view/selectUp_pressed.png)
}


/*selected updental btn*/


/*QPushButton#selectUpDentalBtn{
border-image:url(:/res/images/view/*/

QToolTip {
    border: 1px solid rgb(118, 118, 118);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}





QWidget#update_dlg {
    background-color: #18232D;
    color: rgb(182, 196, 209);
    border-radius: 3px;
    min-width: 500;
    max-width: 500;
    min-height: 300;
    max-height: 300;
}

QWidget#update_dlg QLabel {
    color: rgb(182, 196, 209);
    border-radius: 3px;
}

QWidget#update_dlg QTextBrowser {
    background-color: #18232D;
    color: rgb(182, 196, 209);
    border-radius: 3px;
}

    QWidget#update_dlg QPushButton#update_btn,
    QPushButton#cancelBtn {
        background-color: #36404c;
        color: white;
        font: 8pt "微软雅黑";
        border-image-repeat: stretch;
        border-radius: 4px;
        color: white;
    }

    QWidget#update_dlg QPushButton#update_btn:hover 
    {
        background-color: #5e6976;
    }

    QWidget#update_dlg QPushButton#cancelBtn:hover {
        background-color: #5e6976;
    }

    QTextBrowser#update_log_ QScrollBar::add-line:vertical,
    QScrollBar::sub-line:vertical {
        height: 0px;
        width: 0px;
    }

QWidget#update_dlg QPushButton#closeBtn {
    border-image: url(:/dark/res/dark/images/titleBar/close.svg);
}

QWidget#update_dlg QPushButton#closeBtn:pressed {
    border-image: url(:/dark/res/dark/images/titleBar/close_blue.svg);
}

QTextBrowser#update_log_ QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
}

QTextBrowser#update_log_ QScrollBar::add-line:vertical {
    subcontrol-origin: margin;
    background-color: rgb(110, 125, 137);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-image: url(:/HomePageGui/PatientInfomationListGui/images/subPage.png);
}

QTextBrowser#update_log_ QScrollBar::sub-line:vertical {
    subcontrol-origin: margin;
    background-color: rgb(110, 125, 137);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-image: url(:/HomePageGui/PatientInfomationListGui/images/addPage.png);
}

QTextBrowser#update_log_ QScrollBar::sub-line:vertical:pressed,
QScrollBar::add-line:vertical:pressed {
    background-color: rgb(110, 125, 137);
}


/*设置垂直滚动的下端箭头到滚动条之间的滚动槽属性值*/

QTextBrowser#update_log_ QScrollBar::add-page:vertical {
    background: #000000;
    border-radius: 2px;
}


/*设置垂直滚动的上端箭头到滚动条之间的滚动槽属性值*/

QTextBrowser#update_log_ QScrollBar::sub-page:vertical {
    background-color: rgb(110, 125, 137);
    border-radius: 2px;
}

QWidget#update_dlg QProgressBar#download_progressBar {
    border-radius: 3px;
    color: #1ca057;
    text-align: center;
    background: #d0eef2;
    font: 9pt "微软雅黑";
    min-height: 5px;
    max-height: 5px;
}


/*设置垂直滚动的全局属性值*/

QScrollBar:vertical {
    background-color: rgb(0, 0, 0);
    width: 4px;
    margin: 0px, 0px, 0px, 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}


/*设置垂直滚动的滚动条属性值*/

QScrollBar::handle:vertical {
    width: 4px;
    background-color: rgb(110, 125, 137);
    border-radius: 2px;
    min-height: 20;
}


/*设置垂直滚动的滚动槽属性值*/

QScrollBar::handle:vertical:hover {
    width: 4px;
    background-color: #DDDDDD;
    border-radius: 2px;
    min-height: 20;
}


/*设置垂直滚动的上下端的箭头属性值*/

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
}

QScrollBar::sub-line:vertical {
    height: 0px;
    width: 0px;
}

QScrollBar::add-line:vertical {
    subcontrol-origin: margin;
    background-color: rgb(110, 125, 137);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-image: url(:/HomePageGui/PatientInfomationListGui/images/subPage.png);
}

QScrollBar::sub-line:vertical {
    subcontrol-origin: margin;
    background-color: rgb(110, 125, 137);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-image: url(:/HomePageGui/PatientInfomationListGui/images/addPage.png);
}

QScrollBar::sub-line:vertical:pressed,
QScrollBar::add-line:vertical:pressed {
    background-color: rgb(110, 125, 137);
}


/*设置垂直滚动的下端箭头到滚动条之间的滚动槽属性值*/

QScrollBar::add-page:vertical {
    background: #000000;
    border-radius: 2px;
}


/*设置垂直滚动的上端箭头到滚动条之间的滚动槽属性值*/

QScrollBar::sub-page:vertical {
    background-color: #000000;
    border-radius: 2px;
}

QWidget#FusionAnalyserHomeGui QLabel#recent_project_label {
    font-family: "Microsoft YaHei";
    font-size: 16px;
    color: #ffffff;
    background: rgb(32, 44, 59);
}

QWidget#FusionAnalyserHomeGui QLabel {
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #B6C4D1;
}

QWidget#FusionAnalyserHomeGui QListWidget {
    background: rgb(32, 44, 59);
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #B6C4D1;
}

QWidget#FusionAnalyserHomeGui QListWidget::item:hover {
    show-decoration-selected: 5;
    background: rgb(71, 86, 99);
}

QWidget#FusionAnalyserHomeGui QListWidget::item:selected {
    border: 0px;
    background: rgb(71, 86, 99);
    padding: 0px;
    margin: 0px;
    ;
}

QWidget#fusionMsgBox {
    background-color: #18232D;
    color: rgb(182, 196, 209);
    border-radius: 3px;
}

QWidget#fusionMsgBox QLabel {
    color: white;
    border-radius: 3px;
}

QWidget#fusionMsgBox QPushButton {
    background-color: #344854;
    color: white;
    font: 8pt "微软雅黑";
    border-radius: 4px;
    color: white;
    min-width: 100px;
    min-height: 32px;
}

QWidget#fusionMsgBox QPushButton#closeBtn {
    background-color: #18232D;
    border-image: url(:/res/dark/close.svg);
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
}

    QWidget#fusionMsgBox QPushButton#closeBtn:disabled {
        background-color: #18232D;
        border-image: url(:/dark/res/dark/images/menu/close_disable.svg);
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
    }

/**********************************新建工程 end***************************************/


/**********************************gif图***************************************/

QWidget#Gifviewgui QPushButton {
    background-color: #36404C;
    color: white;
    border-radius: 8px;
    font: 10pt;
    border: 1px solid #b6c4d1;
}

QWidget#Gifviewgui QPushButton:pressed {
    background-color: #344A55;
    border: 1px solid #a3d3d3;
}

QWidget#Gifviewgui QPushButton:hover {
    background-color: #43606B;
    border: 1px solid #a3d3d3;
}

QWidget#Gifviewgui {

}

/*redoundo Btn*/

QDialog#redoUndoGui .QPusButton {
    iconSize: 32px 32px;
    border-style: flat;
    background: transparent;
}

QDialog#redoUndoGui QPushButton#undoBtn {
    border-image: url(:/dark/res/dark/images/toolbar/toolbarUndo.svg);
}


    QDialog#redoUndoGui QPushButton#undoBtn:checked {
        border-image: url(:/dark/res/dark/images/toolbar/toolbarUndo_pressed.svg)
    }

QDialog#redoUndoGui QPushButton#undoBtn:disabled {
    border-image: url(:/dark/res/dark/images/toolbar/toolbarUndo_disabled.svg);
}

    QDialog#redoUndoGui QPushButton#undoBtn:hover {
        border-image: url(:/dark/res/dark/images/toolbar/toolbarUndo_hover.svg)
    }
QDialog#redoUndoGui QPushButton#redoBtn {
    border-image: url(:/dark/res/dark/images/toolbar/toolbarRedo.svg);
}


    QDialog#redoUndoGui QPushButton#redoBtn:checked {
        border-image: url(:/dark/res/dark/images/toolbar/toolbarRedo_pressed.svg)
    }

    QDialog#redoUndoGui QPushButton#redoBtn:hover {
        border-image: url(:/dark/res/dark/images/toolbar/toolbarRedo_hover.svg)
    }
QDialog#redoUndoGui QPushButton#redoBtn:disabled {
    border-image: url(:/dark/res/dark/images/toolbar/toolbarRedo_disabled.svg);
}