/**************************login dlg qss*********************************/
QDialog#LoginDlg QLabel#loginBackgroundLabel {
	border-image: url(:/res/default/images/loginDlg/login_left_pic.png);
}

QDialog#LoginDlg QLabel#loginLogoLabel {
	background-image: url(:/res/default/images/loginDlg/logo.png);
	background-position: center;
	background-repeat: no-repeat;
}

QDialog#LoginDlg QLineEdit#lineEditPassWord, #lineEditUserName {
	border-color: rgb(188, 188, 188);
	border-width: 1px;
	border-radius: 5px;
	border-style: groove;
	font: 10pt "微软雅黑";    /*color: #535659;*/
	color: black;
}

QDialog#LoginDlg QPushButton#loginBtn {
	background-color: #37B9DA;
	color: white;
	border-radius: 6px;
	min-height: 30px;
	font: 10pt "微软雅黑";
}

QPushButton#loginBtn:hover {
	background-color: #2198B7;
}

QPushButton#loginBtn:pressed {
	background-color: #2198B7;
}

QDialog#LoginDlg {
	background-color: white;
}

QDialog#LoginDlg QPushButton#closeBtn {
	background-color: rgba(255, 255, 255, 0);
	border-image: url(:/svg/res/default/images/loginDlg/close.svg);
}

QDialog#LoginDlg QPushButton#closeBtn:pressed {
	border-image: url(:/svg/res/default/images/loginDlg/close_pressed.svg);
}

QDialog#LoginDlg QProgressBar#fusionLoginProgressBar {
	border-radius: 3px;
	color: #535659;
	text-align: center;
	background: #d0eef2;
	;
	font: 9pt "微软雅黑";
}

QDialog#LoginDlg QProgressBar#fusionLoginProgressBar::chunk:horizontal {
	border-radius: 3px;
	background: #37B9DA;
}

/**************************login dlg end*********************************/

/*************************main window************************************/


QMainWindow#MainWindow {
	
	/* background-color:rgb(3, 7, 6); */
	background-color: white; 
	margin: 0, 0, 0, 0;
}

QProgressBar#fusionDesignProcessBar {
	background-color: #FFFFFF;
	min-height: 3px;
	max-height: 3px;
}

QProgressBar#fusionDesignProcessBar::chunk {
	background-color: rgb(55, 185, 218);
}

/**************************title Bar***************************************/
QWidget#fusionTitleBar {
	background-color: white;
	height: 1em;
	margin: 0;
}

QWidget#fusionTitleBar QMenu::item {
	color: black;
	font: 10pt "微软雅黑";
	background-color: white;
}

QWidget#fusionTitleBar QMenu::item:selected, QWidget#fusionTitleBar QMenu::item:hover {
	background-color: rgb(236, 250, 253);
}

QWidget#fusionTitleBar QLabel#patientNameLabel, QWidget#fusionTitleBar QLabel#schemeNameLabel {
	font: 10pt "微软雅黑";
}

QWidget#fusionTitleBar QPushButton

/* #minimizeButton,QPushButton#maximizeButton,QPushButton#closeButton */
{
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	width: 50px;
	height: 30px;
	qproperty-iconSize: 20px 20px;
}

QWidget#fusionTitleBar QPushButton#minimizeButton:hover, QPushButton#maximizeButton:hover, QPushButton#closeButton:hover, QPushButton#mainMenuBtn:hover {
	background-color: rgb(229, 229, 229);
}

QWidget#fusionTitleBar QPushButton#minimizeButton:pressed, QPushButton#maximizeButton:pressed, QPushButton#closeButton:pressed, QPushButton#mainMenuBtn:pressed {
	background-color: rgb(204, 204, 204);
}

QWidget#fusionTitleBar QPushButton#minimizeButton {
	qproperty-icon: url(:/svg/res/default/images/titleBar/min.svg);
}

QWidget#fusionTitleBar QPushButton#maximizeButton {
	qproperty-icon: url(:/svg/res/default/images/titleBar/normal.svg);
}

QWidget#fusionTitleBar QPushButton#closeButton {
	qproperty-icon: url(:/svg/res/default/images/titleBar/close.svg);
}

QWidget#fusionTitleBar QPushButton#mainMenuBtn {
	qproperty-icon: url(:/svg/res/default/images/titleBar/menu_normal.svg) off;
	qproperty-iconSize: 20px 20px;
	border: none;
}

QWidget#fusionTitleBar QPushButton#mainMenuBtn::menu-indicator {
	image: none;
}

/**************************title Bar***************************************/

/**************************categoryToolbar***************************************/
QToolBar#categoryToolbar {
	background-color: white;
}

QToolBar#categoryToolbar QToolButton {
	min-width: 60px;
	min-height: 30px;
	font: 10pt "微软雅黑";        /*color:#535659;*/
	color: black;
	border: 2px;
	border-bottom: outset;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 2px;
	border-radius: 1px;
	padding: 2px 4px;
}

QToolBar#categoryToolbar QToolButton:hover {
	background-color: rgb(223, 251, 255);
	border-bottom-color: rgb(72, 216, 253);
}

QToolBar#categoryToolbar QToolButton:disabled {
	color: rgb(120, 120, 120);
}

QToolBar#categoryToolbar QToolButton:checked {
	background-color: rgb(223, 251, 255);
	border-bottom-color: rgb(72, 216, 253);
	color: rgb(55, 185, 218);
}

QFrame#mainindow_separator, #mainindow_separator_category {
	background-color: lightgray;
}

QStatusBar {
	background-color: white;
	color: black;
	font-family: MicrosoftYaHei;
}

/**************************categoryToolbar end ***************************************/

/***********************segment  alignment  export edit toolbar************************/
QDialog#segmentEditToolBar, #alignmentEditToolBar, #exportEditToolBar {
	margin: 0px 0px 0px 0px;
	border-radius: 4px;
}

QDialog#segmentEditToolBar QToolBar, QDialog#alignmentEditToolBar QToolBar, QDialog#exportEditToolBar QToolBar {
	background-color: #FFFFFF;
	margin: 0 0 0 0;
}

QDialog#segmentEditToolBar QToolBar QToolButton, QDialog#alignmentEditToolBar QToolBar QToolButton, QDialog#exportEditToolBar QToolBar QToolButton {
	min-width: 32px;
	max-width: 40px;
	min-height: 32px;
	font: 10pt "微软雅黑";    /*color:#535659;*/
	color: black;
	border: 2px;
	border-left: outset;
	border-left-color: rgb(255, 255, 255);
	border-left-width: 2px;
	border-radius: 1px;
	padding: 2px 4px;
	background-color: #FFFFFF;
}

QDialog#segmentEditToolBar QToolBar::separator, QDialog#alignmentEditToolBar QToolBar::separator, QDialog#exportEditToolBar QToolBar::separator {
	background-color: rgb(223, 251, 255);
	height: 1px;
}

QDialog#segmentEditToolBar QToolBar QToolButton:hover, QDialog#alignmentEditToolBar QToolBar QToolButton:hover, QDialog#exportEditToolBar QToolBar QToolButton:hover {
	background-color: rgb(223, 251, 255);
	border-left-color: rgb(55, 185, 218);
}

QDialog#segmentEditToolBar QToolBar QToolButton:checked, QDialog#alignmentEditToolBar QToolBar QToolButton:checked, QDialog#exportEditToolBar QToolBar QToolButton:checked {
	background-color: rgb(223, 251, 255);
	border-left-color: rgb(55, 185, 218);
	color: rgb(55, 185, 218);
}

/***********************segment  alignment  export edit toolbar************************/

/***************************************************Home Page Gui ************************************************/
QMainWindow#HomePageGui {
	background-color: rgb(237, 241, 253);
}

QWidget#TaskStatisticsGui QPushButton {
	font-family: Microsoft YaHei;
	font-size: 16px;
	color: rgb(0, 0, 0);
	background-color: rgba(255, 255, 255, 255);
	border-radius: 8px;
}

QWidget#TaskStatisticsGui QPushButton:checked {
	background-color: rgba(255, 255, 255, 255);
	border-left: 4px solid rgba(55, 185, 218, 1);
}

QWidget#TimeAxisGui {
	border:none;
	background-color: white;
}
QWidget#TimeAxisGui QFrame#TimeAxisGuiFrame
{
background-color: rgb(255, 255, 255);
border-top-left-radius:5px;
border-top-right-radius:5px;
border-bottom-left-radius:5px;
border-bottom-right-radius:5px;
}

QFrame#TimeAxisGuiFrame QWidget#scrollAreaWidgetContents
{
	background-color:white;
}

QFrame#patientInfoFrame {
	background-color: rgb(255, 255, 255);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

QFrame#patientInfoFrame QFrame#line {
	color: rgb(220, 220, 220);
}

QFrame#patientInfoFrame QPushButton {
	font: 12pt "微软雅黑";
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	width: 90;
	height: 32;
	border: 2px groove gray;
	border-color: rgb(157, 157, 157);
	border-radius: 18px;
}

QFrame#patientInfoFrame QPushButton:hover {
	background-color: rgb(175, 230, 245);
	border: none;
	color: rgb(0, 0, 0);
}

QFrame#patientInfoFrame QPushButton#search_btn {
	font: 12pt "微软雅黑";
	color: rgb(255, 255, 255);
	width: 80px;
	height: 40px;
	background: #37b9da;
	border: 1px solid #dae1f2;
	border-radius: 6px;
}

QFrame#patientInfoFrame QLineEdit {
	border: 2px groove gray;
	border-radius: 4px;
	padding: 2px 4px;
	border-color: rgb(157, 157, 157);
	height: 32;
	width: 100;
	color: rgb(0, 0, 0);
	font: 12pt "微软雅黑";
	background-color: rgb(255, 255, 255);
}

QFrame#patientInfoFrame QListWidget {
	font: 10pt "微软雅黑";
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border: 0px solid gray;
	outline: none;
}

/**列表项*/
QFrame#patientInfoFrame QListWidget::item {
	font: 10pt "微软雅黑";
	background-color: rgb(250, 251, 255);
	color: rgb(0, 0, 0);
}

/**列表项扫过*/
QFrame#patientInfoFrame QListWidget::item:hover {
	background-color: rgb(236, 250, 253);
}

/**列表项选中*/
QFrame#patientInfoFrame QListWidget::item::selected:active {
	background-color: rgb(236, 250, 253);
	color: white;
	border-width: 0;
}

QFrame#patientInfoFrame QListWidget::item:selected {
	background-color: rgb(236, 250, 253);
	color: white;
	border-width: 0;
}

QFrame#patientInfoFrame QLabel {
	font: 10pt "微软雅黑";
	background-color: rgb(250, 251, 255);
	color: rgb(0, 0, 0);
}

QFrame#patientInfoFrame QComboBox {
	font: 12pt "微软雅黑";
	color: #000000;
	background-color: rgb(250, 251, 255);
	padding: 1px 15px 1px 3px;
	border: 1px solid rgba(228, 228, 228, 1);
	border-radius: 5px 5px 0px 0px;
}

QFrame#patientInfoFrame QComboBox QAbstractItemView {
	background: rgba(255, 255, 255, 1);
	border: 1px solid rgba(228, 228, 228, 1);
	border-radius: 0px 0px 5px 5px;
	font: 12pt "微软雅黑";
	outline: 0px;
}

QFrame#patientInfoFrame QComboBox QAbstractItemView::item {
	height: 36px;
	color: #666666;
	padding-left: 9px;
	background-color: #FFFFFF;
}

QFrame#patientInfoFrame QComboBox QAbstractItemView::item:hover {
	background-color: #409CE1;
	color: #ffffff;
}

QFrame#patientInfoFrame QComboBox QAbstractItemView::item:selected {
	background-color: #409CE1;
	color: #ffffff;
}

/*设置垂直滚动的全局属性值*/
QMainWindow#HomePageGui QScrollBar:vertical {
	width: 10px;
	background-color: #F4F4F4;
	margin: 0px, 0px, 0px, 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*设置垂直滚动的滚动条属性值*/
QMainWindow#HomePageGui QScrollBar::handle:vertical {
	width: 10px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-height: 20;
}

/*设置垂直滚动的滚动槽属性值*/
QMainWindow#HomePageGui QScrollBar::handle:vertical:hover {
	width: 10px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-height: 20;
}

/*设置垂直滚动的上下端的箭头属性值*/
QMainWindow#HomePageGui QScrollBar::add-line:vertical, QMainWindow#HomePageGui QScrollBar::sub-line:vertical {
	height: 10px;
	width: 10px;
	subcontrol-origin: margin;
	background-color: #DDDDDD;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

QMainWindow#HomePageGui QScrollBar::add-line:vertical {
	border-image: url(:/HomePageGui/PatientInfomationListGui/images/subPage.png)
}

QMainWindow#HomePageGui QScrollBar::sub-line:vertical {
	border-image: url(:/HomePageGui/PatientInfomationListGui/images/addPage.png);
}

QMainWindow#HomePageGui QScrollBar::sub-line:vertical:pressed, QMainWindow#HomePageGui QScrollBar::add-line:vertical:pressed {
	background-color: #D3F5FD;
}

/*设置垂直滚动的下端箭头到滚动条之间的滚动槽属性值*/
QMainWindow#HomePageGui QScrollBar::add-page:vertical, QMainWindow#HomePageGui QScrollBar::sub-page:vertical {
	background: #F4F4F4;
	border-radius: 2px;
}

/***************************************************Home Page Gui end ************************************************/


/***************************************************fusionPregressBar end**********************************************/

QProgressBar#fusionProgressBar {
    border-radius: 15px;
    color: #535659;
    text-align: center;
    background: #d0eef2;
    font: 15pt "微软雅黑";
}
QProgressBar#fusionProgressBar::chunk:horizontal{  
    border-radius:15px;
    background:#37B9DA;
}
/***************************************************fusionPregressBar end**********************************************/



/********************************************************advice widget**************************************************/
QWidget#TreatAdviceWidget QPushButton
{
	
	font: 9pt "微软雅黑";
	color:white;
	background-color:#37B9DA;
	border-radius:3px;
	height:30px;
	width:80px;
}
QWidget#TreatAdviceWidget QPushButton:pressed,QWidget#TreatAdviceWidget QPushButton:hover
{	
	font: 9pt "微软雅黑";
	color:white;
	background-color:#2198B7;
}
QWidget#TreatAdviceWidget QTextEdit
{
  background-color: white;
  selection-color: black; 
  selection-background-color: rgb(122,122,122);
  border:none;
  font: 10pt "微软雅黑";
}
/********************************************************advice widget**************************************************/








/*segment toolbar qss*/
QToolBar {
	background-color: rgb(255, 255, 255);
	border: none;
	min-height: 60px;
}

QToolBar#segmentToolbar QToolButton {
	background-color: white;
	min-width: 60px;    /* max-height: 60px; min-height:60px; */
	font: 10pt "微软雅黑";
	border-bottom-style: outset;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 2px;
	border-radius: 1px;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
}

QToolBar#segmentToolbar QToolButton:hover {
	background-color: rgb(223, 251, 255);
	border-bottom-width: 2px;
	border-bottom-color: rgb(72, 216, 253);
}

QToolBar#segmentToolbar QToolButton:pressed {
	background-color: rgb(223, 251, 255);
	border-bottom-color: rgb(72, 216, 253);
	color: rgb(55, 185, 218);
}

QToolBar#segmentToolbar QToolTip {
	color: black;
	background-color: white;
}

QToolBar#segmentToolbar  #loadCtBtn, QToolBar#segmentToolbar #saveSegBtn, QToolBar#segmentToolbar #sendSegBtn {
	min-height: 32px;
	min-width: 100px;
	background-color: #67CDCD;
	border-radius: 10px;
	color: white;
	font: 10pt "微软雅黑";
	margin: 5, 5, 5, 5;
	padding:5, 5, 5,5;
	padding-left: 10px;
	color: white;
	qproperty-iconSize: 5px 5px;
	border:none;
}

QToolBar#segmentToolbar  #loadCtBtn:disabled {
	background-color: rgb(205, 205, 205);
	color: rgb(120, 120, 120);
}

QToolBar#segmentToolbar  #loadCtBtn:hover {
	background-color: #5BC7C7;
	color: white;
}

QToolBar#segmentToolbar  #loadCtBtn:pressed {
	background-color: #18BBC5;
}

QToolBar#segmentToolbar  #saveSegBtn {
	background-color: #9196F2;
}

QToolBar#segmentToolbar  #saveSegBtn:disabled {
	background-color: rgb(205, 205, 205);
	color: rgb(120, 120, 120);
}

QToolBar#segmentToolbar  #saveSegBtn:hover {
	background-color: #8288F1;
	color: white;
	border-bottom-color: #8288F1;
}

QToolBar#segmentToolbar  #saveSegBtn:pressed {
	background-color: #5D64F1;
}

QToolBar#segmentToolbar  #sendSegBtn {
	background-color: #67AADF;
}

QToolBar#segmentToolbar  #sendSegBtn:disabled {
	background-color: rgb(205, 205, 205);
	color: rgb(120, 120, 120);
}

QToolBar#segmentToolbar  #sendSegBtn:hover {
	background-color: #57A3DF;
	color: white;
	border-bottom-color: #57A3DF;
}

QToolBar#segmentToolbar  #sendSegBtn:pressed {
	background-color: #3C96DC;
	color: white;
}

QToolBar#redoUndoToolBar QToolButton {
	background-color: white;
	min-width: 60px;
	max-width: 80px;    /* max-height: 60px; min-height:60px; */
	font: 10pt "微软雅黑";
	border-bottom-style: outset;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 2px;
	border-radius: 1px;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
}
QToolBar#redoUndoToolBar QToolButton:hover {
	background-color: rgb(223, 251, 255);
	border-bottom-width: 2px;
	border-bottom-color: rgb(72, 216, 253);
	icon-image:url(:/svg/res/default/images/undo_selected.svg);
}

QToolBar#redoUndoToolBar QToolButton:pressed {
	background-color: rgb(223, 251, 255);
	border-bottom-color: rgb(72, 216, 253);
	color: rgb(55, 185, 218);
}

/*align toolbar qss*/
#historyBtn {
	min-height: 32px;
	margin: 10, 10, 15, 15;
	background-color: #8dc954;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	font: 10pt "微软雅黑";
	color: white;
}

#historyBtn:disabled {
	background-color: rgb(205, 205, 205);
	color: rgb(120, 120, 120);
}

#historyBtn:hover {
	background-color: #72c734;
	color: white;
}

#historyBtn:pressed {
	background-color: #43CC06;
	color: white;
}

#defySplitBtn {
	min-height: 32px;
	margin: 10, 10, 15, 15;    /* padding: 0,15,0,0; */
	background-color: #E988A8;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	font: 10pt "微软雅黑";
	text-align: center;
	align-content: center;
}

#defySplitBtn:disabled {
	background-color: rgb(205, 205, 205);
	color: rgb(120, 120, 120);
}

#defySplitBtn:hover {
	background-color: #E9779C;
	color: white;
}

#defySplitBtn:pressed {
	background-color: #E94E81;
	color: white;
}

QToolButton#uploadAlignBtn {
	min-height: 32px;
	margin: 10, 10, 15, 15;
	background-color: #67AADF;
	border-radius: 5px;
	font-size: 18px;
	color: white;
	font: 10pt "微软雅黑";
}

QToolButton#uploadAlignBtn:disabled {
	background-color: rgb(205, 205, 205);
	color: rgb(120, 120, 120);
}

QToolButton#uploadAlignBtn:hover {
	background-color: #57A3DF;
	color: white;
}

QToolButton#uploadAlignBtn:pressed {
	background-color: #3C96DC;
	color: white;
}

.QToolBar#alignProjBar, #alignDecoratgeBar, #redoUndoToolBar {
	background-color: white;
	margin: 0 0 0 0;
}

QToolBar#alignDecoratgeBar QToolButton {
	background-color: white;
	min-width: 60px;    /* max-height: 54px; min-height:54px; */
	font: 10pt "微软雅黑";
	border-bottom-style: solid;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 2px;
	border-image-repeat: stretch;
	border-radius: 1px;
	padding: 0px 0px;
	margin: 2 2 2 2;
}

QToolBar#alignDecoratgeBar QToolButton:hover {
	background-color: rgb(223, 251, 255);
	border-bottom-width: 2px;
	border-bottom-color: rgb(72, 216, 253);
}

QToolBar#alignDecoratgeBar QToolButton:checked {
	background-color: rgb(223, 251, 255);
	border-bottom-color: rgb(72, 216, 253);
	color: rgb(55, 185, 218);
}

/* QToolBar#redoUndoToolBar QToolButton, #alignProjBar QToolButton {
	background-color: white;
	min-width: 60px;
	max-width: 80px; 
	font: 10pt "微软雅黑";
	border-bottom-style: outset;
	border-bottom-color: rgb(255, 255, 255);
	border-bottom-width: 2px;
	border-radius: 1px;
	padding: 0px 0px;
	margin: 0px 0px 0px 0px;
}

QToolBar#redoUndoToolBar QToolButton:hover, #alignProjBar  QToolButton:hover {
	background-color: rgb(223, 251, 255);
	border-bottom-width: 2px;
	border-bottom-color: rgb(72, 216, 253);
}

QToolBar#redoUndoToolBar QToolButton:pressed, #alignProjBar    QToolButton:pressed {
	background-color: rgb(223, 251, 255);
	border-bottom-color: rgb(72, 216, 253);
	color: rgb(55, 185, 218);
} */

QToolTip {
	color: black;
	background-color: white;
}

/********************************************************************************************/










/*decorate edit gui*/

QWidget#DecorateModelDlg {
	background-color: #FFFFFF;
	border-radius: 10px;
}

QGroupBox#groupBox_fillHole QPushButton#fillHoleBtn, #autoFillHoleBtn {
	min-width: 110px;
	min-height: 30px;
}

QWidget#modelDecorateFrame QPushButton {
	color: #535659;
	background-color: #F3F6FE;
	border-radius: 6px;
	font: 10pt "微软雅黑";
	height: 30px;
}

QWidget#modelDecorateFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QWidget#modelDecorateFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QWidget#modelDecorateFrame QPushButton#nextHoleBtn {
	border-image: url(:/images/next_hole.png);
}

QWidget#modelDecorateFrame QPushButton#prevHoleBtn {
	border-image: url(:/images/pre_hole.png);
}

QWidget#modelDecorateFrame QPushButton#decorateFinishBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QWidget#modelDecorateFrame QPushButton#decorateFinishBtn:hover, QWidget#modelDecorateFrame QPushButton#decorateFinishBtn:pressed {
	border-radius: 6px;
	;
	background-color: #2198B7;
}

QWidget#modelDecorateFrame QGroupBox#groupBox_cutModel, #groupBox_fillHole, #groupBox_nick, #groupBox_smooth {
	margin: 0px, 0px, 0px, 0px;
	background-color: white;
	color: #535659;
	min-width: 180px;
}

QWidget#modelDecorateFrame QGroupBox#groupBox_cutModel QRadioButton {
	color: #535659;
	font: 10pt "微软雅黑";
	min-height: 16px
}

QWidget#modelDecorateFrame QGroupBox::title {
	color: #535659;
	subcontrol-origin: margin;
	subcontrol-position: top left;
	padding: 0.3px;
	font: 10pt "微软雅黑";
}

QWidget#modelDecorateFrame QLabel {
	color: #535659;
	font: 10pt "微软雅黑";
}

/*segment gui*/
QWidget#SegmentGui {
	background-color: white;
	border-radius: 10px;
}

QFrame#segmentFrame {
	margin: 0px, 0px, 0px, 0px;
	background-color: white;
	color: black;
}

QFrame#segmentFrame QPushButton {
	font: 10pt "微软雅黑";
	text-align: center;
	color: #535659;
	min-height: 30px;
	background-color: #f3f6fe;
	border: 1px solid #dae1f2;
	border-radius: 6px;
}

QFrame#segmentFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #32AAC9;
	color: white;
}

QFrame#segmentFrame QPushButton#doneBtn:pressed, QFrame QPushButton#doneBtn:hover {
	background-color: #2BACCD;
}

QFrame#segmentFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QFrame#segmentFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QFrame#segmentFrame QPushButton:checked {
	background-color: #D3F5FD;
}

QFrame#segmentFrame QLabel {
	font: 10pt "微软雅黑";
	text-align: center;
	color: #535659;
	text-align: center;
	color: #535659;
}

QFrame#segmentFrame QLabel#areaMeshAdjustLab {
	min-width: 50px;
	max-width: 50px;
	color: #535659;
}

QFrame#segmentFrame QLabel#transparencyAdjustLab {
	min-width: 50px;
	max-width: 50px;
	color: #535659;
}

QFrame#segmentFrame QLabel#depthAreaAdjustLab {
	min-width: 50px;
	max-width: 50px;
	color: #535659;
}

QFrame#segmentFrame QFrame#line, QFrame#segmentFrame #line_2, QFrame#segmentFrame #line_3, QFrame#segmentFrame #line_4 {
	height: 1px;
	background: #f2f2f2;
}

QFrame#segmentFrame .QSlider::groove:horizontal {
	border: 0px solid #bbb;
}

QFrame#segmentFrame .QSlider::sub-page:horizontal {
	background: rgb(222, 227, 243);
	border-radius: 0px;
	margin-top: 4px;
	margin-bottom: 4px;
}

QFrame#segmentFrame .QSlider::add-page:horizontal {
	background: rgb(222, 227, 243);
	border: 0px solid #777;
	border-radius: 2px;
	margin-top: 4px;
	margin-bottom: 4px;
}

QFrame#segmentFrame .QSlider::handle:horizontal {
	background: rgb(55, 185, 218);
	border: 0px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
}

QFrame#segmentFrame QLineEdit#depthAreaAdjustLineEdit {
	width: 100px;
	height: 20px;
	background: #fafbfe;
	border: 1px solid #dfe6f8;
	border-radius: 4px;
	qproperty-alignment: AlignHCenter;
	font-size: 12px;
	font-family: Microsoft YaHei Regular, Microsoft YaHei Regular-Regular;
	font-weight: 400;
	text-align: left;
	color: #818489;
}

QFrame#segmentFrame QCheckBox {
	font: "微软雅黑" 10pt;
	text-align: center;
	color: #535659;
	border-radius: 2px;
}

/*occlusalplanegui*/
QWidget#OcclusalPlaneGui {
	background-color: white;
	border-radius: 10px;
}

QLabel#occlusalAdjustLabel {
	color: #535659;
	font: 10pt "微软雅黑";
	height: 30px;
}

QFrame#occlusalPlaneFrame QPushButton {
	border: 1px solid; /* 边框 */
	border-radius: 6px;
	border-color: #DAE1F2;
	color: #535659;
	background-color: #F3F6FE;
	border-radius: 6px;
	font: 10pt "微软雅黑";
	min-height: 30px;
}

QFrame#occlusalPlaneFrame QPushButton:hover {
	background-color: rgb(218, 243, 249);
}

QFrame#occlusalPlaneFrame QPushButton:pressed {
	background-color: #32AAC9;
}

QFrame#occlusalPlaneFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QFrame#occlusalPlaneFrame QPushButton#doneBtn:pressed, QFrame#occlusalPlaneFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#occlusalPlaneFrame #occlusalAdjustLabel {
	font: 9pt "微软雅黑";
	min-height: 30px;
}

QFrame#occlusalPlaneFrame QFrame#line, QFrame#occlusalPlaneFrame #line_2 {
	height: 1px;
	background-color: #E2E3E6;
}

QFrame#occlusalPlaneFrame QRadioButton {
	color: #535659;
	font: 10pt "微软雅黑";
}

/*algnment gui*/
QWidget#alignDialog {
	background-color: #FFFFFF;
	border-radius: 10px;
}

QFrame#alignFrame QPushButton {
	color: #535659;
	background-color: #F3F6FE;
	border-radius: 6px;
	font: 10pt "微软雅黑";
	min-height: 30px;
}

QFrame#alignFrame QPushButton:hover {
	background-color: rgb(218, 243, 249);
}

QFrame#alignFrame QPushButton:pressed {
	background-color: #37B9DA;
}

QFrame#alignFrame QPushButton#finishBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #32AAC9;
	color: white;
}

QFrame#alignFrame QPushButton#finishBtn:pressed, QFrame#alignFrame QPushButton#finishBtn:hover {
	background-color: #2198B7;
}

QFrame#alignFrame QScrollBar::horizontal {
	height: 10px;
	background-color: #F4F4F4;
	margin: 0px, 0px, 0px, 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

QFrame#alignFrame QScrollBar::handle:horizontal {
	height: 10px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-height: 20;
}

QFrame#alignFrame QScrollBar::handle:horizontal:hover {
	height: 10px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-width: 20px;
}

QFrame#alignFrame QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal {
	height: 10px;
	width: 10px;
}

QFrame#alignFrame QScrollBar::sub-line:horizontal {
	height: 10px;
	width: 10px;
}

QFrame#alignFrame QScrollBar::add-line:horizontal {
	subcontrol-origin: margin;
	background-color: #DDDDDD;
}

QFrame#alignFrame QScrollBar::sub-line:horizontal {
	subcontrol-origin: margin;
	background-color: #DDDDDD;
}

QFrame#alignFrame QScrollBar::sub-line:horizontal:pressed, QFrame#alignFrame QScrollBar::add-line:horizontal:pressed {
	background-color: #D3F5FD;
}

/*设置垂直滚动的下端箭头到滚动条之间的滚动槽属性值*/
QFrame#alignFrame QScrollBar::add-page:horizontal, QFrame#alignFrame QScrollBar::sub-page:horizontal {
	background: #F4F4F4;
	border-radius: 2px;
}

QFrame#alignFrame QTreeWidget {
	background-color: rgb(255, 255, 255);
	border: 1px solid rgba(242, 244, 251, 1);
	font: 10pt "微软雅黑";
	color: #535659;
	outline: none;
}

QFrame#alignFrame QTreeWidget::item {
	height: 34px;
	margin: 0px;
	padding: 0px;
}

QFrame#alignFrame QTreeWidget::item:hover {
	show-decoration-selected: 1;
	background-color: rgba(242, 244, 251, 1);
	selection-background-color: rgba(242, 244, 251, 1);
}

/*treatment gui*/
QWidget#VirtualTreatmentGui {
	background-color: white;
	border-radius: 10px;
}

QFrame#treatmentFrame QPushButton {
	font: 10pt "微软雅黑";
	color: #535659;
	min-height: 30px;
	background-color: #f3f6fe;
	border: 1px solid #dae1f2;
	border-radius: 6px;
}

QFrame#treatmentFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QFrame#treatmentFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QFrame#treatmentFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QFrame#treatmentFrame QPushButton#doneBtn:pressed, QFrame#treatmentFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#treatmentFrame QPushButton#addBtn, QFrame#treatmentFrame #subBtn {
	border: 0px solid gray; /* 边框 */
	border-radius: 0px;
}

QFrame#treatmentFrame QPushButton#addBtn {
	border-image: url(:/images/add.png);
}

QFrame#treatmentFrame QPushButton#subBtn {
	border-image: url(:/images/sub.png);
}

QFrame#treatmentFrame QPushButton#addBtn:hover, QFrame#treatmentFrame #addBtn:pressed {
	border-image: url(:/images/add.png);
	background-color: #D3F5FD;
}

QFrame#treatmentFrame QPushButton#subBtn:hover, QFrame#treatmentFrame #subBtn:pressed {
	border-image: url(:/images/sub.png);
	background-color: #D3F5FD;
}

QFrame#treatmentFrame QLabel {
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#treatmentFrame #line, QFrame#treatmentFrame #line_2, QFrame#treatmentFrame #line_3, QFrame#treatmentFrame #line_4 {
	height: 1px;
	background-color: #F2F2F2;
}

QFrame#treatmentFrame QCheckBox {
	font: 10pt "微软雅黑";
	text-align: center;
	color: #535659;
	border-radius: 2px;
}

QFrame#treatmentFrame QCheckBox:disabled {
	font: 10pt "微软雅黑";
	text-align: center;
	color: #535659;
	border-radius: 2px;
	color: gray;
}

/*accessory gui */
QWidget#AccessoryGui {
	background-color: white;
	border-radius: 10px;
}

QFrame#accessoryFrame QPushButton {
	color: rgb(0, 0, 0);
	background-color: #F3F6FE;
	border: solid gray; /* 边框 */
	border-width: 1px;
	border-radius: 6px;
	border-color: #DFE6F8;
	font: 10pt "微软雅黑";
	min-height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	background-color: rgb(255, 255, 255);
}

QFrame#accessoryFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QFrame#accessoryFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QFrame#accessoryFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QFrame#accessoryFrame QPushButton#doneBtn:pressed, QFrame#accessoryFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#accessoryFrame QLabel {
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#accessoryFrame #line, QFrame#accessoryFrame #line_2, QFrame#accessoryFrame #line_3 {
	height: 1px;
	background-color: #F2F2F2;
}

QFrame#accessoryFrame #acc_delete_btn_ {
	border-image: url(:/images/sub.png);
	width: 30px;
	height: 30px;
}

QFrame#accessoryFrame #acc_delete_btn_:pressed {
	border-image: url(:/images/sub_clicked.png);
}

QFrame#accessoryFrame #saveFollowBtn {
	border-image: url(:/images/savefollow.png);
	width: 30px;
	height: 30px;
}

QFrame#accessoryFrame #saveFollowBtn:pressed {
	border-image: url(:/images/savefollow.png);
}

QPushButton#cube_type_btn_ {
	background-image: url(:/images/accessory/cube.png);
}

QPushButton#cube_type_btn_:hover, QPushButton#cube_type_btn_:pressed, QPushButton#cube_type_btn_:checked {
	background-image: url(:/images/accessory/cube_clicked.png);
}

QPushButton#saddle_type_btn_ {
	background-image: url(:/images/accessory/saddle.png);
}

QPushButton#saddle_type_btn_:hover, QPushButton#saddle_type_btn_:pressed, QPushButton#saddle_type_btn_:checked {
	background-image: url(:/images/accessory/saddle_clicked.png);
}

QPushButton#triangle_type_btn_ {
	background-image: url(:/images/accessory/triangle.png);
}

QPushButton#triangle_type_btn_:hover, QPushButton#triangle_type_btn_:pressed, QPushButton#triangle_type_btn_:checked {
	background-image: url(:/images/accessory/triangle_clicked.png);
}

QPushButton#sphere_type_btn_ {
	background-image: url(:/images/accessory/sphere.png);
}

QPushButton#sphere_type_btn_:hover, QPushButton#sphere_type_btn_:pressed, QPushButton#sphere_type_btn_:checked {
	background-image: url(:/images/accessory/sphere_clicked.png);
}

QPushButton#halfball_type_btn_ {
	background-image: url(:/images/accessory/halfball.png);
}

QPushButton#halfball_type_btn_:hover, QPushButton#halfball_type_btn_:pressed, QPushButton#halfball_type_btn_:checked {
	background-image: url(:/images/accessory/halfball_clicked.png);
}

QPushButton#buckle_type_btn_ {
	background-image: url(:/images/accessory/buckle.png);
}

QPushButton#buckle_type_btn_:hover, QPushButton#buckle_type_btn_:pressed, QPushButton#buckle_type_btn_:checked {
	background-image: url(:/images/accessory/buckle_clicked.png);
}

QPushButton#ellipse_type_btn_ {
	background-image: url(:/images/accessory/ellipse.png);
}

QPushButton#ellipse_type_btn_:hover, QPushButton#ellipse_type_btn_:pressed, QPushButton#ellipse_type_btn_:checked {
	background-image: url(:/images/accessory/ellipse_clicked.png);
}

QPushButton#powercube_type_btn_ {
	background-image: url(:/images/accessory/powercube.png);
}

QPushButton#powercube_type_btn_:hover, QPushButton#powercube_type_btn_:pressed, QPushButton#powercube_type_btn_:checked {
	background-image: url(:/images/accessory/powercube_clicked.png);
}

QPushButton#powerrage_type_btn_ {
	background-image: url(:/images/accessory/powerrage.png);
}

QPushButton#powerrage_type_btn_:hover, QPushButton#powerrage_type_btn_:pressed, QPushButton#powerrage_type_btn_:checked {
	background-image: url(:/images/accessory/powerrage_clicked.png);
}

QFrame#accessoryFrame QTableWidget#accessory_added_record_tab QHeaderView::section {
	font: 9pt "微软雅黑";
	color: #717377;
	background-color: rgba(250, 251, 254, 1);
	border: 1px groove #DFE6F8;
}

QFrame#accessoryFrame .QTableWidget {
	font: 9pt "微软雅黑";
	color: #717377;
	background-color: rgba(250, 251, 254, 1);
	show-decoration-selected: 1;
	outline: none;
	border: 1px groove #DFE6F8;
}

QFrame#accessoryFrame .QTableWidget::item {
	height: 28px;
	font: 9pt "微软雅黑";
	color: #717377;
	border: 0px solid #d9d9d9;
}

QFrame#accessoryFrame .QTableWidget::item:hover {
	background-color: rgb(236, 250, 253);
}

QFrame#accessoryFrame .QTableWidget::item:selected {
	background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #e7effd, stop:1 #cbdaf1);
}

/*设置垂直滚动的滚动条属性值*/
QFrame#accessoryFrame QScrollBar::handle:vertical {
	width: 5px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-height: 20;
}

    /*设置垂直滚动的滚动槽属性值*/
QFrame#accessoryFrame QScrollBar::handle:vertical:hover {
	width: 5px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-height: 20;
}

/*设置垂直滚动的上下端的箭头属性值*/
QFrame#accessoryFrame QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
	height: 10px;
	width: 5px;
}

QFrame#accessoryFrame QScrollBar::sub-line:vertical {
	height: 10px;
	width: 5px;
}

QFrame#accessoryFrame QScrollBar::add-line:vertical {
	subcontrol-origin: margin;
	background-color: #DDDDDD;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

QFrame#accessoryFrame QScrollBar::sub-line:vertical {
	subcontrol-origin: margin;
	background-color: #DDDDDD;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

QFrame#accessoryFrame QScrollBar::sub-line:vertical:pressed, QScrollBar::add-line:vertical:pressed {
	background-color: #D3F5FD;
}

/*设置垂直滚动的下端箭头到滚动条之间的滚动槽属性值*/
QFrame#accessoryFrame QScrollBar::add-page:vertical {
	background: #F4F4F4;
	border-radius: 2px;
}

/*设置垂直滚动的上端箭头到滚动条之间的滚动槽属性值*/
QFrame#accessoryFrame QScrollBar::sub-page:vertical {
	background: #F4F4F4;
	border-radius: 2px;
}

/*treatment gui*/
QWidget#TreatmentCycleGui {
	background-color: white;
	border-radius: 10px;
}

QFrame#treatmentFrame QPushButton {
	border: 1px solid gray; /* 边框 */
	border-radius: 6px;
	border-color: #DAE1F2;
	color: #535659;
	background-color: #F3F6FE;
	border-radius: 6px;
	font: 10pt "微软雅黑";
	min-height: 30px;
}

QFrame#treatmentFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QFrame#treatmentFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QFrame#treatmentFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QFrame#treatmentFrame QPushButton#doneBtn:pressed, QFrame#treatmentFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#treatmentFrame QLabel, QFrame#treatmentFrame QCheckBox#treatmentStepDesignCheckBox {
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#treatmentFrame#line, QFrame#treatmentFrame #line_2, QFrame#treatmentFrame #line_3 {
	height: 1px;
	background-color: #F2F2F2;
}

QFrame#treatmentFrame #toothTreatmentStatusLab {
	min-height: 30px;
}

/*overlay gui*/
QWidget#OverlapOverbiteGui {
	background-color: white;
	border-radius: 10px;
}

QFrame#overlayFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
	min-height: 30px;
}

QFrame#overlayFrame QPushButton#doneBtn:pressed, QFrame#overlayFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#overlayFrame QLabel#mainTitleName {
	font: 10pt "微软雅黑";
	max-height: 30px;
	color: #535659;
}

QFrame#overlayFrame #line, QFrame#overlayFrame #line_2, QFrame#overlayFrame #line_3 {
	height: 1px;
	background-color: #F2F2F2;
}

QFrame#overlayFrame .QSlider::groove:horizontal {
	border: 0px solid #bbb;
}

QFrame#overlayFrame .QSlider::sub-page:horizontal {
	background: rgb(222, 227, 243);
	border-radius: 0px;
	margin-top: 6px;
	margin-bottom: 6px;
}

QFrame#overlayFrame .QSlider::add-page:horizontal {
	background: rgb(222, 227, 243);
	border: 0px solid #777;
	border-radius: 2px;
	margin-top: 6px;
	margin-bottom: 6px;
}

QFrame#overlayFrame .QSlider::handle:horizontal {
	background: rgb(55, 185, 218);
	border: 0px;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin-top: 3px;
	margin-bottom: 3px;
}

/*congestionDegree gui*/
QWidget#DentitionMeasureGui {
	background-color: white;
	border-radius: 10px;
}

QFrame#dentitionFrame QPushButton {
	border: 1px solid; /* 边框 */
	border-radius: 6px;
	border-color: #DAE1F2;
	color: #535659;
	background-color: #F3F6FE;
	border-radius: 6px;
	font: 10pt "微软雅黑";
	min-height: 30px;
}

QFrame#dentitionFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QFrame#dentitionFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QFrame#dentitionFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QFrame#dentitionFrame QPushButton#doneBtn:pressed, QFrame#dentitionFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#dentitionFrame #line, QFrame#dentitionFrame #line_2, QFrame#dentitionFrame #line_3, QFrame#dentitionFrame #line_4 {
	height: 1px;
	background-color: #F2F2F2;
}

QFrame#dentitionFrame QLabel {
	color: #535659;
	font: 10pt "微软雅黑";
}

QFrame#dentitionFrame QLineEdit {
	border: 1px solid; /* 边框 */
	border-radius: 6px; /* 圆角 */
	border-color: #DAE1F2;
	text-align: center;
	color: #535659;
	font: 9pt "微软雅黑";
}

/*设置垂直滚动的滚动条属性值*/
QFrame#dentitionFrame QScrollBar::handle:vertical {
	width: 5px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-height: 20;
}

    /*设置垂直滚动的滚动槽属性值*/
QFrame#dentitionFrame QScrollBar::handle:vertical:hover {
	width: 5px;
	background-color: #DDDDDD;
	border-radius: 2px;
	min-height: 20;
}

/*设置垂直滚动的上下端的箭头属性值*/
QFrame#dentitionFrame QScrollBar::add-line:vertical, QFrame#dentitionFrame QScrollBar::sub-line:vertical {
	height: 10px;
	width: 5px;
}

QFrame#dentitionFrame QScrollBar::sub-line:vertical {
	height: 10px;
	width: 5px;
}

QFrame#dentitionFrame QScrollBar::add-line:vertical {
	subcontrol-origin: margin;
	background-color: #DDDDDD;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

QFrame#dentitionFrame QScrollBar::sub-line:vertical {
	subcontrol-origin: margin;
	background-color: #DDDDDD;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

QFrame#dentitionFrame QScrollBar::sub-line:vertical:pressed, QFrame#dentitionFrame QScrollBar::add-line:vertical:pressed {
	background-color: #D3F5FD;
}

/*设置垂直滚动的下端箭头到滚动条之间的滚动槽属性值*/
QFrame#dentitionFrame QScrollBar::add-page:vertical {
	background: #F4F4F4;
	border-radius: 2px;
}

/*设置垂直滚动的上端箭头到滚动条之间的滚动槽属性值*/
QFrame#dentitionFrame QScrollBar::sub-page:vertical {
	background: #F4F4F4;
	border-radius: 2px;
}

QFrame#dentitionFrame #widthToothLab {
	min-height: 30px;
}

/*label builder gui*/
QWidget#LabelCodeGui {
	background-color: white;
	border-radius: 10px;
}

QFrame#labelFrame QPushButton {
	border: 1px solid gray; /* 边框 */
	border-radius: 6px;
	border-color: #DAE1F2;
	color: #535659;
	background-color: #F3F6FE;    /*border-radius:6px;*/
	font: 10pt "微软雅黑";
	min-height: 30px;
}

QFrame#labelFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QFrame#labelFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QFrame#labelFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QFrame#labelFrame QPushButton#doneBtn:pressed, QFrame#labelFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#labelFrame QLabel {
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#labelFrame #line, QFrame#labelFrame #line_2, QFrame#labelFrame #line_3 {
	height: 1px;
	background-color: #F2F2F2;
}

QFrame#labelFrame QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 20px;
	border-top-right-radius: 6px; /* same radius as the QComboBox */
	border-bottom-right-radius: 6px;
}

QFrame#labelFrame QComboBox::down-arrow {
	image: url(:/images/combobox_arrow.png);
}

QFrame#labelFrame QComboBox {
	border: 1px solid gray; /* 边框 */
	border-radius: 6px; /* 圆角 */
	padding: 1px 18px 1px 3px; /* 字体填衬 */
	border-color: #DAE1F2;
	min-width: 120px;
	max-width: 120px;
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#labelFrame QLineEdit {
	min-width: 120px;
	border: 1px solid gray; /* 边框 */
	border-radius: 6px; /* 圆角 */
	padding: 1px 18px 1px 3px; /* 字体填衬 */
	border-color: #DAE1F2;
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#labelFrame QCheckBox {
	font: 10pt "微软雅黑";
	color: #535659;
}

/*result export*/
QWidget#ExportMeshModelGui {
	background-color: white;
	border-radius: 10px;
	min-width: 250px;
	max-width: 250px;
}

QFrame#exportFrame QPushButton {
	border: 1px solid gray; /* 边框 */
	border-radius: 6px;
	border-color: #DAE1F2;
	color: #535659;
	background-color: #F3F6FE;    /*border-radius:6px;*/
	font: 10pt "微软雅黑";
	min-height: 30px;
}

QFrame#exportFrame QPushButton:hover {
	background-color: #E7FAFE;
}

QFrame#exportFrame QPushButton:pressed {
	background-color: #D3F5FD;
}

QFrame#exportFrame QPushButton#doneBtn {
	border-radius: 6px;
	font: 10pt "微软雅黑";
	background-color: #37B9DA;
	color: white;
}

QFrame#exportFrame QPushButton#doneBtn:pressed, QFrame#exportFrame QPushButton#doneBtn:hover {
	background-color: #2198B7;
}

QFrame#exportFrame QLabel, QFrame#exportFrame QCheckBox {
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#exportFrame QLabel#areaMeshAdjustLab, QFrame#exportFrame QLabel#transparencyAdjustLab, QFrame#exportFrame QLabel#depthAreaAdjustLab {
	min-width: 43px;
	max-width: 43px;
	font: 10pt "微软雅黑";
	alignment: AlignRight AlignVCenter;
}

QFrame#exportFrame #line, QFrame#exportFrame #line_2, QFrame#exportFrame #line_3 {
	height: 1px;
	background-color: #F2F2F2;
}

QFrame#exportFrame QComboBox::drop-down {
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 20px;
	border-top-right-radius: 6px; /* same radius as the QComboBox */
	border-bottom-right-radius: 6px;
}

QFrame#exportFrame QComboBox::down-arrow {
	image: url(:/images/combobox_arrow.png);
}

QFrame#exportFrame QComboBox {
	border: 1px solid gray; /* 边框 */
	border-radius: 6px; /* 圆角 */
	padding: 1px 18px 1px 3px; /* 字体填衬 */
	border-color: #DAE1F2;
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#exportFrame QLineEdit {
	border: 1px solid gray; /* 边框 */
	border-radius: 6px; /* 圆角 */
	padding: 1px 18px 1px 3px; /* 字体填衬 */
	border-color: #DAE1F2;
	font: 10pt "微软雅黑";
	color: #535659;
}

QFrame#exportFrame #dateLineEdit {
	
		    /*width : 129px;*/
	height: 20px;
	font: 10pt "微软雅黑";
	color: #535659;
}

QCalendarWidget QAbstractItemView {
	font: 10px "微软雅黑";
	width: 30px;
	height: 30px;
}

/*view Gui*/
QWidget#fusionViewGui .QPusButton {
	iconSize: 32px 32px;
	border-style: flat;
	background: transparent;
}

QWidget#fusionViewGui QPushButton#upDentalBtn {
	border-image: url(:/res/default/images/view/upDental.png);
}

QWidget#fusionViewGui  QPushButton#upDentalBtn:hover, QPushButton#upDentalBtn:checked {
	border-image: url(:/res/default/images/view/upDental_pressed.png)
}

/* upViewbtn*/
QWidget#fusionViewGui QPushButton#upViewBtn {
	border-image: url(:/res/default/images/view/upView.png);
}

QWidget#fusionViewGui QPushButton#upViewBtn:hover, QPushButton#upViewBtn:pressed {
	border-image: url(:/res/default/images/view/upView_pressed.png)
}

/*right view Btn */
QWidget#fusionViewGui QPushButton#rightViewBtn {
	border-image: url(:/res/default/images/view/rightView.png);
}

QWidget#fusionViewGui QPushButton#rightViewBtn:hover, QWidget#fusionViewGui QPushButton#rightViewBtn:pressed {
	border-image: url(:/res/default/images/view/rightView_pressed.png)
}

/* front view Btn */
QWidget#fusionViewGui QPushButton#frontViewBtn {
	border-image: url(:/res/default/images/view/frontView.png);
}

QWidget#fusionViewGui QPushButton#frontViewBtn:hover, QWidget#fusionViewGui QPushButton#frontViewBtn:pressed {
	border-image: url(:/res/default/images/view/frontView_pressed.png)
}

/*left view Btn*/
QWidget#fusionViewGui QPushButton#leftViewBtn {
	border-image: url(:/res/default/images/view/leftView.png);
}

QWidget#fusionViewGui QPushButton#leftViewBtn:hover, QWidget#fusionViewGui QPushButton#leftViewBtn:pressed {
	border-image: url(:/res/default/images/view/leftView_pressed.png)
}

/*bottom view Btn*/
QPushButton#bottomViewBtn {
	border-image: url(:/res/default/images/view/downView.png);
}

QPushButton#bottomViewBtn:hover, QPushButton#bottomViewBtn:pressed {
	border-image: url(:/res/default/images/view/downView_pressed.png)
}

/*down dental btn*/
QPushButton#downDentalBtn {
	border-image: url(:/res/default/images/view/downDental.png);
}

QPushButton#downDentalBtn:hover, QPushButton#downDentalBtn:checked {
	border-image: url(:/res/default/images/view/downDental_pressed.png)
}

QPushButton#selectDownDentalBtn {
	border-image: url(:/res/default/images/view/selectDown.png);
}

QPushButton#selectDownDentalBtn:hover, QPushButton#selectDownDentalBtn:checked {
	border-image: url(:/res/default/images/view/selectDown_pressed.png)
}

QPushButton#selectUpDentalBtn {
	border-image: url(:/res/default/images/view/selectUp.png);
}

QPushButton#selectUpDentalBtn:hover, QPushButton#selectUpDentalBtn:checked {
	border-image: url(:/res/default/images/view/selectUp_pressed.png)
}

/*selected updental btn*/

/*QPushButton#selectUpDentalBtn{
border-image:url(:/res/images/view/*/

QToolTip {
	border: 1px solid rgb(118, 118, 118);
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}